<footer >
    <div class="row container footer-content">
        <div class="col col-lg-4 logo-box">
            <img src="images/logo.jpg" alt="logo" class="logo footer-logo">
        </div>
            
        
        <div class="col col-lg-4 quick_links">
            <ul class="">
                <li><a href="/" class="quick-link">Home</a></li>
                <li><a href="#services" class="quick-link">Services</a></li>
                <li><a href="#gallery" class="quick-link">Gallery</a></li>
                <li><a href="#week-hours" class="quick-link">Week Hours</a></li>
                <li><a href="#why-us" class="quick-link">About Us</a></li>
                <li><a href="/contact-us.html" class="quick-link">Contact Us</a></li>
            </ul>
        </div>
        <div class="col col-lg-4 social_links">
            <ul class="">
                <li>
                    <a href="https://www.facebook.com/EricEdgerBarbershop" class="social-link">
                        <i class="fab fa-facebook"></i>
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/eric_edger_barbershop/" class="social-link">
                        <i class="fab fa-instagram"></i>
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.erc.barbershop_app" class="social-link">
                        <i class="fab fa-google-play"></i>
                        Playstore
                    </a>
                </li>
                <li>
                    <a href="https://apps.apple.com/us/app/id1643411376" class="social-link">
                        <i class="fab fa-app-store"></i> 
                        App Store
                    </a>
                </li>
                <li>
                    <a href="" class="social-link">
                        <i class="fas fa-envelope"></i> 
                        Rickyortho@yahoo.fr
                    </a>
                </li>
            </ul>
           <!-- <p class="copyright">Copyright &copy; All rights reserved.</p> -->
        </div>

        <div class="attribution">
          <p>Made with 🤍 by <a href="https://twitter.com/iamcedriic_"> Cedric Ngcobo</a> </p>
        </div>
    </div>
</footer>


<!--- Scripts, jQuery should be place above the index.js file -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>

</html>
