<%- include('partials/header'); -%>

    <section class="container contact-us">
        <div class="row contact-us-box">
            <div class="col-lg-6 col-md-12 col-sm-12 location-dets">
                <p class="locations">Walk ins, welcome, or call ahead 30 minutes</p>
                <h4>Locations <i class="fas fa-location-dot"></i> </h4>
                <p class="locations">
                    Blue Hills Shopping Centre, Shop 37. <br>
                    Carlswald Lifestyle Shopping Centre, Shop 37, <br>
                    Waterfall Ridge Center shop 2C
                </p>
            </div>
            <div class="book-btn-box col-lg-6 col-md-12 col-sm-12">
                <a href="/booking" class="btn-book-lg btn-book">Make Appointment</a>
                <a href="https://www.facebook.com/EricEdgerBarbershop" class="social-link contact">
                    <i class="fab fa-facebook"></i>
                    Follow us 
                </a>
                <a href="https://www.instagram.com/eric_edger_barbershop/" class="social-link contact">
                    <i class="fab fa-instagram"></i>
                    Follow us
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.erc.barbershop_app" class="social-link contact">
                    <i class="fab fa-google-play"></i>
                    Install Our App
                </a>
                <a href="https://apps.apple.com/us/app/id1643411376" class="social-link contact">
                    <i class="fab fa-app-store"></i> 
                    Install our App
                </a>

            </div>
        </div>
    </section>

<%- include('partials/footer'); -%>