<%- include('partials/header'); -%>

<main>
    <div class="container row banner-wrapper">
        <div class="col-lg-6 col-md-12 col-sm-12 banner-content-box">
            <h1 id="heading_1">Eric Edger<br> Barbershop</h1>
           <p class="banner-content">Our Haircuts Enhances Your Smile. Best experience ever. <br> Try something fresh. <br>
             Let us design the most creative image for your personality with boss haircut.
            </p>
            <a href="booking" class="btn btn-book-lg book">Make Appointment</a>        
        </div>
    </div>
</main>

<section class="container services" id="services">
    <h2>Our Services include</h2>
    <div class="services-box">
        <div class="row card-group">
            <div class="col-md-6 col-sm-12 card">
              <img src="images/edger-img14.jpg" class="card-img-top" alt="haircut">
              <div class="card-body">
                <h5 class="card-title">Cut</h5>
                <p class="card-text">Get comfortable in a classic barber chair and relax while your barber achieves your desired look</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 card">
              <img src="images/beard-trim.jpg" class="card-img-top" alt="beard-trim">
              <div class="card-body">
                <h5 class="card-title">Beard Trim</h5>
                <p class="card-text">Let our barbers apply their artistry to help you create the perfectly shaped beard or mustache style you envision.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 card">
              <img src="images/shave.png" class="card-img-top" alt="shave">
              <div class="card-body">
                <h5 class="card-title">Shave</h5>
                <p class="card-text">Experience a traditional hot towel shave with a straight razor and a warm shaving cream that will leave your face smooth and supple.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 card">
                <img src="images/color-hair.jpg" class="card-img-top" alt="dyed-hair">
                <div class="card-body">
                  <h5 class="card-title">Color</h5>
                  <p class="card-text">If you are longong for experiements, change your hair color at Eric Edger barbershop.</p>
                </div>
              </div>
          </div>
    </div>
</section>

<section class="container why-us" id="why-us">
    <div class="row why-us-box"> 
        <div class="col-lg-8 col-md-6 col-sm-12 why-us-content">
            <h1 id="heading_1" class="p-0">What we do</h1>
            <p>Quality cuttings for a good. Service within minutes.</p>
            <p>The Eric Edger barbershop proudly serves a great combination of modern and traditional barbery.<br>
            <p>We offer all kinds of barber services including haircuts,  shaves, beard trimming and more. <br> Our clasicaly trained barbers are well versed in their field,
                very easy to work with, and will make sure to provide you with a haircut you love so much, it'll become a signature look.
                <br>Come in to Eric Edger Barbershop today and see why our clients keep raving about us and coming back for years.
            </p> 
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 why-us-img">    
        </div>
    </div>
</section>

<section class="container gallery" id="gallery">
    <div class="row container gallery-images">
        <h1 class="large">Gallery</h1>
        <div class="col-lg-3 row-cols-md-3 col-sm-12">
            <img src="images/edger-img1.jpg" alt="gall__image" class="gallery-image">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <img src="images/edger-img17.jpg" alt="gall__image" class="gallery-image">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <img src="images/edger-img3.jpg" alt="gall__image" class="gallery-image">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <img src="images/edger-img10.jpg" alt="gall__image" class="gallery-image">
        </div>
    </div>
</section>

<section class="container week-hours" id="week-hours">
    <div class="row container week_hours_box">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <h1 class="large hour-head">Weekly Hours</h1>
            <div class="location-dets">
                <h4>Locations <i class="fas fa-location-dot"></i> </h4>
                <p class="locations">Blue Hills Shopping Centre, Shop 37. <br>
                   Carlswald Lifestyle Shopping Centre, Shop 37, <br>
                   Waterfall Ridge Center shop 2C
                </p>
            </div>
            
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 pos-btm">
            <ul class="hours">
                <li class="day">Monday <span id="time">08:00 - 19:00</span></li>
                <li class="day">Tuesday <span id="time">08:00 - 19:00</span></li>
                <li class="day">Wednesday <span id="time">08:00 - 19:00</span></li>
                <li class="day">Thursday <span id="time">08:00 - 19:00</span></li>
                <li class="day">Friday <span id="time">08:00 - 19:00</span></li>
                <li class="day">Saturday <span id="time">08:00 - 19:00</span></li>
                <li class="day">Sunday <span id="time">08:00 - 17:00</span></li>
            </ul>
        </div>
    </div>
</section>

<%- include('partials/footer'); -%>