<%- include('partials/header'); -%>

    <div class="login-form">
        <h2>Login</h2>
        <form action="appointments" method="get">
            <fieldset class="login-field">
                <label for="email">Email</label>
                <input type="text" name="loginEmail" id="loginEmail">
            </fieldset>

            <fieldset class="submit-box">
                <button type="submit" class="sbmt_btn">Login</button>
            </fieldset>
        </form>
    </div>

<%- include('partials/footer'); -%>