<%- include('partials/header'); -%>
    <div class="success">
        <h1>Your form has been processed.</h1>
        <p class="success-text">
            A confirmation email has been sent.
            You can login here and view your appointments.
        </p>
        <a href="login" class="btn btn-nav login">Login</a>
    </div>

<%- include('partials/footer'); -%>

